<div *ngIf="this.skills.skill" class="container-fluid">
    <div class="row">
        <div class="col">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white"><h5>Kompetenz</h5></div>
                <div class="card-text card-block"><h3>{{ this.skills.skill.name }}</h3></div>
                <div class="card-text card-block">{{ this.skills.skill.description }}</div>
                
    <!--            <div class="card-text card-attributes">Feld: {{ this.skills.skill.field }}</div>  -->
                <div class="card-text card-attributes">Modul: {{ this.skills.skill.modul }}</div>
    
                <div class="card-text card-attributes">Status:  {{ this.users.getUserSkillStatus(this.skillid) }}</div>
                <div class="card-text card-attributes">Rating:</div>
                <div class="progress  card-attributes">
                  <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ this.users.getUserSkillRating(this.skillid) }}</div>
                </div>
                <div class="card-text card-attributes">Auftrag: {{ this.users.getUserSkillAging(this.skillid) }}</div>
                
                <div class="card-text card-block"><strong>Statistik:</strong></div>
                <div class="card-text card-block">Tests: 3</div>
                <div class="card-text card-block">Aufgaben: 23</div>
                <div class="card-text card-block">Wie viele haben sie: 102</div>
                <div class="card-text card-block">Aus meiner Gruppe: 4</div>
                <div class="card-text card-block">Arbeiten daran: 234</div>
                
                <div class="card-text">
                    <table class="table table-hover">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Kompetenzfelder</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ssref of this.skills.skill.skillsetref" routerLink="/skillboard/{{ ssref._id }}">
            <!--     [ngClass]="{'table-primary' : i===this.users.selected_user_index}" (click)="selectUser(i)"> -->
                                <td>{{ ssref.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>        
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header"><h5>Lernziele</h5></div>
                <div class="card-text">
                    <table class="table table-hover">
                        <tbody>
                            <tr *ngFor="let eduo of this.skills.skill.eduobjectiveref" routerLink="/eduobjective/{{ eduo._id }}">
                                <td>
                                    {{ eduo.name }}
                                    <p><i style="color:orange" class="fas fa-thumbs-down">&nbsp;</i>Vorkenntnisse: {{ this.users.getUserEduO(1, eduo._id) }}</p>
                                    <p><i style="color:green" class="fas fa-check-circle"></i>&nbsp;Selbstüberprüfung: {{ this.users.getUserEduO(2, eduo._id) }}</p>
                                    <p><i  style="color:blue" class="fas fa-dot-circle"></i>&nbsp;Fremdeinschätzung: {{ this.users.getUserEduO(3, eduo._id) }}</p>
                                    <p><i style="color:red" class="fas fa-times-circle"></i>&nbsp;Prüfung: {{ this.users.getUserEduO(4, eduo._id) }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>        

            </div>
        </div>
    </div>
</div>
