<div *ngIf="this.skills.skill" class="container-fluid">
    <div class="row">
        <div class="col">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white"><h5>Kompetenz</h5></div>
                <div class="card-text card-block"><h3>{{ this.skills.skill.name }}</h3></div>
                <div class="card-text card-block">{{ this.skills.skill.description }}</div>
                <div class="card-text card-block">
                <table *ngIf="this.appConfig.togSkillShowMetric">
                    <tr>
                        <td>Feld</td>
                        <td style="position: relative;  float: right; padding-left: 50px">{{ this.skills.skill.field }}</td>
                    </tr>
                    <tr>
                        <td>Modul</td>
                        <td style="position: relative;  float: right; padding-left: 50px">{{ this.skills.skill.modul }}</td>
                    </tr>
                    
                    <tr>
                        <td>Rating</td>
                        <td style="position: relative;  float: right; padding-left: 50px">{{ this.users.getUserSkillRating(this.skillid) }}</td>
                    </tr>
                    <tr>
                        <td>ToGo</td>
                        <td style="position: relative;  float: right; padding-left: 50px">
                            <!--
                            <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                {{ this.users.getUserSkillRating(this.skillid) }}
                            </div>
                            -->
                            {{ this.users.getUserSkillRating(this.skillid) }}
                        </td>
                    </tr>
                    <tr>
                        <td>Aging</td>
                        <td style="position: relative;  float: right; padding-left: 50px">{{ this.users.getUserSkillAging(this.skillid) }}</td>
                    </tr>
                </table>
                </div>
                <!-- <div class="card-text card-block">Status:  {{ this.users.getUserSkillStatus(this.skillid) }}</div> -->

<!--                <div class="progress  card-block">
                  <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ this.users.getUserSkillRating(this.skillid) }}</div>
                </div>
-->
                <div *ngIf="this.skills.skill.statistic && this.appConfig.togSkillShowStat">
                    <div class="card-text card-block">Statistik:
                        <table>
                            <tr><td>Tests</td><td style="position: relative;  float: right; padding-left: 50px">{{ this.skills.skill.statistic.ass_count }}</td></tr>
                            <tr><td>Aufgaben</td><td style="position: relative;  float: right;">{{ this.skills.skill.statistic.cha_count }}</td></tr>
                            <tr><td>Wie viele haben sie</td><td style="position: relative;  float: right;">{{ this.skills.skill.statistic.user_success }}</td></tr>
                            <tr><td>Aus meiner Gruppe</td><td style="position: relative;  float: right;">{{ this.skills.skill.statistic.grp_count }}</td></tr>
                            <tr><td>Arbeiten daran</td><td style="position: relative;  float: right;">{{ this.skills.skill.statistic.user_workon }}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header"><h5>Bewertung</h5></div>
                <div class="card-text">
                    <table class="table table-hover">
                        <tbody>
                            <tr *ngFor="let eval of this.skills.skill.evaluation; index as i">
                                <td>
                                    
                                    <p>
                                        <!-- <span class="badge badge-primary badge-pill">{{ i+1 }}</span>&nbsp; -->
                                        <span *ngIf="eval.mode=='1'">Lernziel durch Prüfungs-Auftrag (bestimmt durch Lernziel) erreichen</span>
                                        <span *ngIf="eval.mode=='2'">Speziellen Auftrag erledigen (gemäss Prüfungskriterien)</span>
                                    </p>
                                    <p>
                                        <span *ngIf="this.skillevaluation[i]" class="badge badge-primary badge-pill" style="background-color:green">Erreicht</span>
                                        <span *ngIf="!this.skillevaluation[i]" class="badge badge-primary badge-pill" style="background-color:red">Nicht Erreicht</span>
                                    </p>
                                    <div [ngSwitch]="eval.mode">
                                        <div *ngSwitchCase="1"><!-- Spezial educational objective -->
                                            <div routerLink="/eduobjective/{{ eval.eduo_id }}" style="color:blue">{{ eval.text }}</div>
                                        </div>
                                        <div *ngSwitchCase="2"><!-- Spezial assignment -->
                                            <div routerLink="/assignment/{{ eval.ass_id }}" style="color:blue">{{ eval.text }}</div>
                                        </div>
                                        <p *ngSwitchDefault>nix</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header"><h5>Lernziele</h5></div>
                <div class="card-text">
                    <table class="table table-hover">
                        <tbody>
                            <tr *ngFor="let eduo of this.skills.skill.eduobjectiveref" routerLink="/eduobjective/{{ eduo._id }}">
                                <td>
                                    {{ eduo.name }}
                                    <table *ngIf="this.users.getUserEduO(2, eduo._id)['valid']" width="100%">
                                        <tr><th>Pass</th><th>Art</th><th>#</th><th>Fr</th><th>Ok</th><th>%</th></tr>
                                        <tr *ngIf="this.users.getUserEduO(2, eduo._id)['valid']">
                                            <td>
                                                <i *ngIf="!this.users.getUserEduO(2, eduo._id)['pass']" style="color:red" class="fas fa-times-circle"></i>
                                                <i *ngIf="this.users.getUserEduO(2, eduo._id)['pass']" style="color:green" class="fas fa-check-circle"></i>
                                            </td>
                                            <td with="50%">Selbstüberprüfung</td>
                                            <td>{{ this.users.getUserEduO(2, eduo._id)['ass_count'] }}</td>
                                            <td>{{ this.users.getUserEduO(2, eduo._id)['cha_count'] }}</td>
                                            <td>{{ this.users.getUserEduO(2, eduo._id)['cha_ok'] }}</td>
                                            <td>{{ this.users.getUserEduO(2, eduo._id)['percent'] }}</td>
                                        </tr>
                                        <tr *ngIf="this.users.getUserEduO(4, eduo._id)['valid']">
                                            <td>
                                                <i *ngIf="!this.users.getUserEduO(4, eduo._id)['pass']" style="color:red" class="fas fa-times-circle"></i>
                                                <i *ngIf="this.users.getUserEduO(4, eduo._id)['pass']" style="color:green" class="fas fa-check-circle"></i>
                                            </td>
                                            <td with="50%">Prüfung</td>
                                            <td>{{ this.users.getUserEduO(4, eduo._id)['ass_count'] }}</td>
                                            <td>{{ this.users.getUserEduO(4, eduo._id)['cha_count'] }}</td>
                                            <td>{{ this.users.getUserEduO(4, eduo._id)['cha_ok'] }}</td>
                                            <td>{{ this.users.getUserEduO(4, eduo._id)['percent'] }}</td>
                                        </tr>
                                        
                                    </table>
                                    <!-- External assessment -->
                                    <p *ngIf="this.users.getUserEduO(3, eduo._id)['valid']"><i  style="color:blue" class="fas fa-dot-circle"></i>&nbsp;
                                        Fremdeinschätzung:
                                        {{ this.users.getUserEduO(3, eduo._id)['text'] }}
                                    </p>
                                    <br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>        
            </div>
            <div class="card">
                <div class="card-header"><h5>Kompetenzfelder</h5></div>
                <div *ngIf="togSkillCat" class="card-text">
                    <table class="table table-hover">
                        <tbody>
                            <tr *ngFor="let ssref of this.skills.skill.skillsetref" routerLink="/skillboard/{{ ssref._id }}">
                                <td>{{ ssref.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
            </div>
        </div>
    </div>
</div>
