<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <img width="40" alt="Angular Logo" src="assets/aimy-logo-black.jpg" alt="LOGO" routerLink="/">
      <a class="navbar-brand" href="#">Aimy - Deine Kompetenzen</a>
      <form class="form-inline">
        <div *ngIf="auth.isAuthenticated()" class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary my-2 my-sm-0 mr-2 dropdown-toggle"
                  aria-controls="dropdown-basic">Action<span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
<!--            <li role="menuitem"><a class="dropdown-item" href="#" (click)="alertToggle()">Alert</a></li>  -->
            <li role="menuitem"><a routerLink="/playlist"  class="dropdown-item">Playlist</a></li>
            <li role="menuitem"><a routerLink="/" class="dropdown-item">Aktuell</a></li>
            <li role="menuitem"><a routerLink="/comp1" routerLinkActive="active" class="dropdown-item">Kompetenzfelder</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a routerLink="/registration" class="dropdown-item">Registrierung</a>
            <li role="menuitem"><a routerLink="/dialog" class="dropdown-item">Dialoge</a>
            <li role="menuitem"><a *ngIf="auth.isAuthenticated()" class="dropdown-item" (click)="auth.logout()">Log Out</a>
            
<!--        <button class="btn btn-primary my-2 my-sm-0 mr-2" routerLink="/" type="button">Home</button>
        <button class="btn btn-primary my-2 my-sm-0 mr-2" (click)="this.status.setStatusText('User Status: '+this.user.user_status)" type="button">Status</button>
        <button id="qsLogoutBtn"
          class="btn btn-primary my-2 my-sm-0"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()" type="button">
            Log Out
        </button> -->
        
            </li>
          </ul>
        </div>
        <a *ngIf="!auth.isAuthenticated()" class="navbar-brand" href="mailto:andreashock@bluewin.ch?subject=Mehr%20zu%20Aimy%20und%20Kompetenzmanagement&body=Ich%20möchte%20mehr%20über%20Aimy%20erfahren.%0ABitte%20kontaktiert%20mich.%0A%0AGrüsse%20">Ich möchte mehr erfahren</a>
        
        &nbsp;
        <button id="qsLoginBtn" class="btn btn-primary my-2 my-sm-0" *ngIf="!auth.isAuthenticated()" (click)="auth.login()" type="button">
            Log In
        </button>
      </form>
  </div>
</nav>

<div *ngIf="!auth.isAuthenticated()">
  <!--  You are not logged in! / guest -->
  <carousel data-interval="10000">
    <slide>
      <img src="assets/Aimy_Why.jpg" alt="Aimy Why" class="rounded mx-auto d-block" style="display: block;">
      <div class="carousel-caption d-none d-md-block">
<!--        <h3>Aimy hilft</h3>
        <p>Aimy hilft den Weg zu neuen Kompetenzen zu finden.</p> -->
      </div>
    </slide>
    <slide>
      <img src="assets/Aimy_How.jpg" alt="Aimy How" class="rounded mx-auto d-block" style="display: block;">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </slide>
    <slide>
      <img src="assets/Aimy_What.jpg" alt="Aimy What" class="rounded mx-auto d-block" style="display: block;">
    </slide>
  </carousel>
</div>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>
<!-- User is logged in -->

<div *ngIf="(auth.isAuthenticated()&&this.location.path()=='')">
  <div *ngIf="this.user.user_status==2">
    
    <div class="container">
      <div class="row">
        <div class="col">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <h5 class="card-header bg-primary text-white">Auftrag</h5>
          </div>
          <div class="list-group">
            <button type="button" routerLink="assignment/{{ aref.id }}" class="list-group-item list-group-item-action" *ngFor="let aref of this.user.getUser().assignmentrefs; index as i">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ aref.name }}</h5>
                <small>{{ aref.daystogo }}</small>
              </div>
              <p class="mb-1">Typ: {{ aref.type }}</p>
              <small>Rating: </small>
              <span class="badge badge-primary badge-pill">0/5</span>&nbsp;
              <small>Comments: </small>
              <span class="badge badge-primary badge-info">1</span>&nbsp;
              <small>Status: {{ aref.status }}</small>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h5 class="card-header bg-primary text-white">Kompetenzen</h5>
          </div>
          
<div class="list-group">
            <button type="button" routerLink="skill/{{ sref.id }}" class="list-group-item list-group-item-action" *ngFor="let sref of this.user.getUser().skillref; index as i">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ sref.name }}</h5>
                <small>{{ sref.togo }}</small>
              </div>
              <p class="mb-1">{{ sref.description }}</p>
              <small>Rating: </small>
              <span class="badge badge-primary badge-pill">{{ sref.rating }}</span>&nbsp;
              <small>Comments: </small>
              <span class="badge badge-primary badge-info">1</span>&nbsp;
              <small>Status: {{ sref.status }}</small>
            </button>
</div>         
          
        </div>        
      </div>
    </div>
  </div>
</div>

<alert type="success" *ngIf="alertBoxShow" id="alertbox">hello</alert>

<!--
<nav class="navbar fixed-bottom navbar-light bg-light">
  <app-status></app-status>
</nav>
-->