<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Aimy - Deine Kompetenzen</a>
      <form class="form-inline">
        <div *ngIf="auth.isAuthenticated()" class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary my-2 my-sm-0 mr-2 dropdown-toggle"
                  aria-controls="dropdown-basic">Action<span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
<!--            <li role="menuitem"><a class="dropdown-item" href="#" (click)="alertToggle()">Alert</a></li>  -->
            <li role="menuitem"><a routerLink="/playlist"  class="dropdown-item">Playlist</a></li>
            <li role="menuitem"><a routerLink="/" class="dropdown-item">Aktuell</a></li>
            <li role="menuitem"><a routerLink="/comp1" routerLinkActive="active" class="dropdown-item">Kompetenzfelder</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a routerLink="/registration" class="dropdown-item">Registrierung</a>
            <li role="menuitem"><a routerLink="/dialog" class="dropdown-item">Dialoge</a>
            <li role="menuitem"><a *ngIf="auth.isAuthenticated()" class="dropdown-item" (click)="auth.logout()">Log Out</a>
            
<!--        <button class="btn btn-primary my-2 my-sm-0 mr-2" routerLink="/" type="button">Home</button>
        <button class="btn btn-primary my-2 my-sm-0 mr-2" (click)="this.status.setStatusText('User Status: '+this.user.user_status)" type="button">Status</button>
        <button id="qsLogoutBtn"
          class="btn btn-primary my-2 my-sm-0"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()" type="button">
            Log Out
        </button> -->
        
            </li>
          </ul>
        </div>
        <button id="qsLoginBtn"
          class="btn btn-primary my-2 my-sm-0"
          *ngIf="!auth.isAuthenticated()"
          (click)="auth.login()" type="button">
            Log In
        </button>

      </form>
  </div>
</nav>

<!--The content below is only a placeholder and can be replaced.-->

<div *ngIf="!auth.isAuthenticated()">
  <!--  You are not logged in! / guest -->
  <carousel>
    <slide>
      <img src="assets/lucas-sankey-1339354-unsplash.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Aimy hilft</h3>
        <p>Aimy hilft den Weg zu neuen Kompetenzen zu finden. [Photo by Lucas Sankey on <a href="https://unsplash.com">Unsplash</a>]</p>
      </div>
    </slide>
    <slide>
      <img src="assets/markus-spiske-1375298-unsplash.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Aimy nutzt</h3>
        <p>Aimy nutz die kollektiven Lernerfahrungen, um auch dich weiter zu bringen. [Photo by Markus Spiske on <a href="https://unsplash.com">Unsplash</a>]</p>
      </div>
    </slide>
    <slide>
      <img src="assets/simon-matzinger-317150-unsplash.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Du erreichst </h3>
        <p>Du erwirbst neue Kompetenzen, die dir neue Möglichkeiten eröffnen. [Photo by Simon Matzinger on <a href="https://unsplash.com">Unsplash</a>]</p>
      </div>
    </slide>
  </carousel>
</div>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>
<!-- User is logged in -->

<div *ngIf="(auth.isAuthenticated()&&this.location.path()=='')">
  <div *ngIf="this.user.user_status==2">
    
    <div class="container">
      <div class="row">
        <div class="col">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <h5 class="card-header bg-primary text-white">Auftrag</h5>
          </div>
          <div class="list-group">
            <button type="button" routerLink="assignment/{{ aref.id }}" class="list-group-item list-group-item-action" *ngFor="let aref of this.user.getUser().assignmentrefs; index as i">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ aref.name }}</h5>
                <small>noch 1 Tag</small>
              </div>
              <p class="mb-1">Typ: {{ aref.type }}</p>
              <small>Rating: </small>
              <span class="badge badge-primary badge-pill">0/5</span>&nbsp;
              <small>Comments: </small>
              <span class="badge badge-primary badge-info">1</span>&nbsp;
              <small>Status: {{ aref.status }}</small>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h5 class="card-header bg-primary text-white">Kompetenzen</h5>
          </div>
          
<div class="list-group">
            <button type="button" routerLink="skill/{{ sref.id }}" class="list-group-item list-group-item-action" *ngFor="let sref of this.user.getUser().skillref; index as i">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ sref.name }}</h5>
                <small>{{ sref.togo }}</small>
              </div>
              <p class="mb-1">{{ sref.description }}</p>
              <small>Rating: </small>
              <span class="badge badge-primary badge-pill">{{ sref.rating }}</span>&nbsp;
              <small>Comments: </small>
              <span class="badge badge-primary badge-info">1</span>&nbsp;
              <small>Status: {{ sref.status }}</small>
            </button>
</div>         
          
        </div>        
      </div>
    </div>
  </div>
</div>

<alert type="success" *ngIf="alertBoxShow" id="alertbox">hello</alert>

<!--
<nav class="navbar fixed-bottom navbar-light bg-light">
  <app-status></app-status>
</nav>
-->