<div>
    <div class="row">
        <div class="col">&nbsp;</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5>
                            Playlist
                            <span class="col text-right"><i class="fas fa-pencil-alt" (click)="this.selfassess()"></i></span>
                        </h5>
                    </div>
                    <div class="card-text">
                        
<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action">
    Vorbereitung auf Mastery <span style="font-weight:bold">1 - Service Strategy</span>
  </button>
  <button type="button" class="list-group-item list-group-item-action">YouTube-Video <span style="font-weight:bold">The Cynefin Framework</span> ansehen</button>
  <button type="button" class="list-group-item list-group-item-action">Selbsteinschätzung <span style="font-weight:bold">Self-Assessment Kundentermin-Vorbereitung</span> abgeben</button>
  <button type="button" class="list-group-item list-group-item-action">Buch <span style="font-weight:bold">Anleitung zum ganzheitlichen Denken und Handeln</span>, Kapitel 3, lesen</button>
</div>                        



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>