<div *ngIf="this.mode==0">
    <div class="container" *ngIf="this.aservice.assignment!=undefined">
      <div class="row">
        <div class="col">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <h5 class="card-header bg-primary text-white">
              <div class="d-flex justify-content-between">
                <div>
                   {{ this.aservice.assignment.name }}
                </div>
                <div>
                   <span class="col text-right" (click)="this.runAssignment()"><i class="fas fa-play-circle"></i>&nbsp;Durchführen</span>
                </div>
             </div>
            </h5>           
            
            <div class="card-body">
              <h5 class="card-title">{{ this.aservice.assignment.modul }} / {{ this.aservice.assignment.field }}</h5>
              <p class="card-text">{{ this.aservice.assignment.description }}</p>
            </div>
            <div class="card-body">
              <h5 class="card-title">Offen: von <strong>{{ this.aservice.assignment.earlieststart | date : 'dd.MM.yyyy - H:mm' : '+0200' }}</strong> bis <strong>{{ this.aservice.assignment.latestend | date : 'dd.MM.yyyy - H:mm' : '+0200' }}</strong></h5>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Anzahl Aufgaben</td>
                    <td>{{ this.aservice.assignment.challenges.length }}</td>
                    <td>&nbsp;</td>
                    <td>Coach</td>
                    <td>{{ this.aservice.assignment.coach }}</td>
                  </tr>
                  <tr>
                    <td>Zeit</td>
                    <td>{{ this.aservice.assignment.duration }} {{ this.aservice.assignment.durationunit }}</td>
                    <td>&nbsp;</td>
                    <td>Auftragstyp</td>
                    <td>{{ this.aservice.assignment.type }}</td>
                  </tr>
                  <tr>
                    <td>Minimalziel</td>
                    <td>{{ this.aservice.assignment.unitpass }} / {{ this.aservice.assignment.unitmax }} {{ this.aservice.assignment.unit }}</td>
                    <td>&nbsp;</td>
                    <td>Bewertungsraster</td>
                    <td>{{ this.aservice.assignment.rubic }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-body">
<!--              <h5 class="card-title">Details</h5>  -->
              <table class="table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Lernziel</th>
                    <th scope="col">Selbsteinschätzung</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let eduobj of this.aservice.assignment.eduobjref; index as i" (click)="selectEduObjective(eduobj.id)">
              <!--     [ngClass]="{'table-primary' : i===this.users.selected_user_index}" (click)="selectUser(i)"> -->
                    <td>{{ eduobj.name }}</td>
<!--                    <td>{{ eduobj.id }}</td> -->
                    <td>
                        <i style="color:red" class="fas fa-thumbs-down" *ngIf="this.users.getUserEduOSelfassessment(eduobj.id)=='Noch garnicht'"></i>
                        <i style="color:red" class="fas fa-frown" *ngIf="this.users.getUserEduOSelfassessment(eduobj.id)=='Zu wenig'"></i>
                        <i style="color:black" class="fas fa-meh" *ngIf="this.users.getUserEduOSelfassessment(eduobj.id)=='Neutral'"></i>
                        <i style="color:orange" class="fas fa-smile" *ngIf="this.users.getUserEduOSelfassessment(eduobj.id)=='Gut'"></i>
                        <i style="color:green" class="fas fa-thumbs-up" *ngIf="this.users.getUserEduOSelfassessment(eduobj.id)=='Sehr gut'"></i>
                        &nbsp;
                      
                      {{ this.users.getUserEduOSelfassessment(eduobj.id) }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div><!-- -->
          </div>
        </div>
      </div>
    </div>
</div><!-- Show assignment details -->

<div *ngIf="this.mode==1" class="container">
  <div *ngIf="this.showWarning">
    <div class="card">
      <h5 class="card-header">Vor dem Start dieser Challenge</h5>
      <div class="card-body">
        <div class="card-text">{{ this.aservice.assignment.description }}</div>
        <p>Bitte nimm Dir kurz Zeit und lasse mich wissen, wie Du Dich heute fühlst.</p>
        <h3>Körperlich</h3>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="physical" id="exampleRadios0" value="option0" checked>
            <label class="form-check-label" for="exampleRadios1">
              Ich möchte hierzu heute keine Angabe machen.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="physical" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1">
              Ich fühle mich körperlich top-fit heuet.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="physical" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Ich fühle mich körperlich etwas ermüdet, aber im normalen Bereich.
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="physical" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              Heute bin ich körperlich total kaput.
            </label>
          </div>
        <h3>Mental</h3>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="mental" id="exampleRadios1" value="option0" checked>
            <label class="form-check-label" for="exampleRadios1">
              Ich möchte hierzu heute keine Angabe machen.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="mental" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1">
              Ich fühle mich dem gewachsen, ggf. sogar überlegen.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="mental" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Ich habe Respekt vor dem was kommt, sehe ihm aber gelassen entgegen.
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="mental" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              Ich habe Angst vor dem was kommt.
            </label>
          </div>
        <h3>Vorbereitet</h3>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="prep" id="exampleRadios1" value="option0" checked>
            <label class="form-check-label" for="exampleRadios1">
              Ich möchte hierzu heute keine Angabe machen.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="prep" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1">
              Ich bin sehr gut vorbereitet.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="prep" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Ich habe wenig oder das Nötigste vorbereitet.
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="prep" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              Eigentlich habe ich mich gar nicht vorbereitet.
            </label>
          </div>
        <p>&nbsp;</p>
        <button type="button" class="btn btn-primary" (click)="this.showWarning=false">Ok</button>
      </div>
    </div>
  </div>

  <div class="challangelist">
    <div class="row">
      <div class="col">&nbsp;</div>
    </div>
    <div class="card">
            <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <button type="button" class="btn btn-primary" (click)="this.cancleAssignment()" [ngClass]="{'active':this.contenttype==1}"><i class="far fa-window-close"></i>&nbsp;Abbrechen</button>
              <button type="button" class="btn btn-secondary" [ngClass]="{'active':this.contenttype==2}"><i class="fas fa-chevron-left"></i>&nbsp;</button>
              <button type="button" class="btn btn-secondary" (click)="this.showWarning=true" [ngClass]="{'active':this.contenttype==3}"><i class="fas fa-info-circle"></i>&nbsp;Info</button>
              <button type="button" class="btn btn-secondary" [ngClass]="{'active':this.contenttype==4}"><i class="fas fa-bookmark"></i>&nbsp;Gemerkt</button>
              <button type="button" class="btn btn-secondary" [ngClass]="{'active':this.contenttype==5}"><i class="far fa-clock"></i>&nbsp;Mehr Zeit
              </button>
              <button type="button" class="btn btn-primary" (click)="this.finishAssignment()" [ngClass]="{'active':this.contenttype==6}"><i class="fas fa-check-square"></i>&nbsp;Fertig</button>
              <button type="button" class="btn btn-secondary" [ngClass]="{'active':this.contenttype==7}"><i class="fas fa-chevron-right"></i>&nbsp;</button>
            </div>            
    </div>
    
    
    <div *ngFor="let ch of this.challenges.challenges; index as i" class="challange">
          <div class="card">
            <div class="card-header bg-light">
              <div class="d-flex justify-content-between">
                <div>
                  <span class="col text-right">{{ i+1 }}</span>
                  <strong>{{ ch.name }}</strong>
                </div>
                <div>
                  <span class="col text-right" (click)="this.markChallenge(i)"><i *ngIf="!this.markerlist[i]" class="far fa-bookmark"></i><i *ngIf="this.markerlist[i]" class="fas fa-bookmark"></i>&nbsp;Merken</span>
                  <span class="col text-right" (click)="this.toggleHint($event, i)"><i class="fas fa-smile-wink"></i>&nbsp;Hinweis</span>
                </div>
             </div>
            </div>           
            <div class="card-body">
              <div class="card-text">
                <div [innerHTML]="ch.text"></div><!-- innerHTML to make HTML formating possible -->
              </div>
              <div class="row">
                <div class="col">&nbsp;</div>
              </div>
          <table width="100%">
            <tr>
              <td>
                <div [ngSwitch]="ch.type">
                  <div *ngSwitchCase="'multi'">
                    <div class="form-check" *ngFor="let an of ch.answers; index as j">
                      <input class="form-check-input" (click)="this.answerChallenge(i,j)" type="checkbox" name="gridRadios" id="gridRadios{{ i }}{{ j }}" value="{{ j }}">
                      <label class="form-check-label" for="gridRadios{{ i }}{{ j }}">  
                        {{ an }}
                      </label>
                    </div>                    
                  </div>
                  <div *ngSwitchCase="'single'">
                    <div class="form-check" *ngFor="let an of ch.answers; index as j">
                      <input class="form-check-input" (click)="this.answerChallenge(i,j)" type="radio" name="challenge{{ i }}" id="gridRadios{{ i }}{{ j }}" value="{{ j }}">
                      <label class="form-check-label" for="gridRadios{{ i }}{{ j }}">
                        {{ an }}
                      </label>
                    </div>
                  </div>
                </div>
                
                <div *ngIf="this.showHint==i" class="hint">
                  <div class="row">
                    <div class="col">&nbsp;</div>
                  </div>
                  <div [innerHTML]="ch.hint"></div>
                  <div class="row">
                    <div class="col">&nbsp;</div>
                  </div>
                  <div *ngIf="ch.eduobjectives!=undefined&&ch.eduobjectives.length<2" class="ch_name">Lernziel</div>
                  <div *ngIf="ch.eduobjectives!=undefined&&ch.eduobjectives.length>=2" class="ch_name">Lernziele</div>
                  <div *ngFor="let eo of ch.eduobjectives" class="eolist">
                    <a class="nav-link" routerLink="/eduobjective/{{ eo.id }}" routerLinkActive="active-link">{{ eo.name }}</a>
                  </div>

                  <div *ngIf="ch.learningaid!=undefined&&ch.learningaid.length>0" class="ch_name">Lernmittel</div>
                  <div *ngFor="let la of ch.learningaid" class="eolist">
                    <a class="nav-link" routerLink="/content/{{ la.id }}" routerLinkActive="active-link">{{ la.name }}</a>
                  </div>
                  
                  
                </div>
              </td>
<!--              <td class="ch_menue">
                <button id="{{ i }}" type="button" class="btn btn-outline-primary btn-sm btn-block" (click)="this.markChallenge(i)">Merken</button><br />
                <button id="{{ i }}" type="button" class="btn btn-outline-secondary btn-sm btn-block" (click)="this.toggleHint($event, i)">Hinweis</button>
              </td> -->
            </tr>
          </table>
          
            </div>
          </div>          
          
    </div>
  </div>
</div>

<div *ngIf="this.mode==5"><!-- Evaluate result -->
      <div class="row">
        <div class="col">&nbsp;</div>
      </div>

  <div class="card">
    <h5 class="card-header">Abschluss dieser Challenge</h5>
    <div class="card-body">
      <div class="card-text">{{ this.aservice.assignment.description }}</div>
      <div>&nbsp;</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Aufgabe</th>
            <th scope="col">Name</th>
            <th scope="col">Ergebnis</th>
            <th scope="col">Antwort</th>
            <th scope="col">Richtig</th>
            <th scope="col">Gemerkt</th>
          </tr>          
        </thead>
        <tbody>
          <tr *ngFor="let ch of this.challenges.challenges; index as i">
            <td class="text-center">{{ i }}</td>
            <td>{{ ch.name }}</td>
            <td class="text-center"><i *ngIf="answerlist[i]==ch.correct" class="fas fa-check-circle" style="color: green;"></i></td>
            <td class="text-center">{{ answerlist[i] }}</td>
            <td class="text-center">{{ ch.correct }}</td>
            <td class="text-center"><i *ngIf="markerlist[i]" class="fas fa-bookmark"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  
  
            <div class="card-body">
              <h5 class="card-title"><strong>Gesamtergebnis</strong></h5>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Erreicht</td>
                    <td>3/5</td>
                    <td>&nbsp;</td>
                    <td>Minimalziel</td>
                    <td><i class="fas fa-check-circle" style="color: green;"></i>&nbsp;erreicht</td>
                  </tr>
                  <tr>
                    <td>Zeit</td>
                    <td>{{ this.aservice.assignment.duration }} {{ this.aservice.assignment.durationunit }}</td>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Bewertungsraster</td>
                    <td>{{ this.aservice.assignment.rubic }}</td>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-body">
<!--              <h5 class="card-title">Details</h5>  -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Lernziel</th>
                    <th scope="col">Teilergebnis</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let eduobj of this.aservice.assignment.eduobjref; index as i" (click)="selectEduObjective(eduobj.id)">
              <!--     [ngClass]="{'table-primary' : i===this.users.selected_user_index}" (click)="selectUser(i)"> -->
                    <td>{{ eduobj.name }}</td>
                    <td><i class="fas fa-circle" style="color: green;"></i><i class="fas fa-circle" style="color: green;"></i><i class="far fa-circle" style="color: red;"></i></td>
                  </tr>
                </tbody>
              </table>
      <button type="button" class="btn btn-primary" (click)="this.closeAssignment()">Abschliessen</button>
            </div><!-- -->

            
  </div> 
  
  
  
</div><!-- Evaluate result -->