<div *ngIf="this.eduobjective.eduobjective">
    <div class="row">
        <div class="col">&nbsp;</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-primary text-white"><h5>Lernziel</h5></div>
                    <div class="card-text">{{ this.eduobjective.eduobjective.name }}</div>
                </div>
                &nbsp;
                
                <div *ngIf="this.appConfig.togEduoShowAchievement" class="card">
                    <div class="card-header"><h5>Zielerreichung</h5></div>
                    <div class="card-text">

                        <table class="table table-hover">
                            <thead><tr><th>Typ</th><th>Ergebnis</th></tr></thead>
                            <tbody>
                                <tr>
                                    <td><p>Vorkenntnisse</p></td>
                                    <td><p>
                                        <i style="color:red" class="fas fa-thumbs-down"></i>&nbsp;{{ this.users.getUserEduO(1, this.eduobjective.eduobjective._id)['text'] }}
                                    </p></td>
                                </tr>
                                <tr>
                                    <td><p>Selbstüberprüfung</p></td>
                                    <td><p>
                                        <i style="color:green" class="fas fa-check-circle"></i>&nbsp;<strong>{{ this.users.getUserEduO(2, this.eduobjective.eduobjective._id)['text'] }}</strong>
                                    </p></td>
                                </tr>
                                <tr>
                                    <td><p>Fremdeinschätzung
                                    </p></td>
                                    <td><p>
                                        <i  style="color:red" class="fas fa-minus-circle"></i>&nbsp;{{ this.users.getUserEduO(3, this.eduobjective.eduobjective._id)['text'] }}
                                    </p></td>
                                </tr>
                                <tr>
                                    <td><p>Prüfung</p></td>
                                    <td><div>
                                    <i *ngIf="this.users.getUserEduO(4, this.eduobjective.eduobjective._id)['valid']" style="color:blue" class="fas fa-dot-circle"></i>
                                    <i *ngIf="!this.users.getUserEduO(4, this.eduobjective.eduobjective._id)['pass']" style="color:red" class="fas fa-times-circle"></i>
                                    <i *ngIf="this.users.getUserEduO(4, this.eduobjective.eduobjective._id)['pass']" style="color:green" class="fas fa-check-circle"></i>
                                    &nbsp;
                                    <!--<div>{{ this.users.getUserEduO(4, this.eduobjective.eduobjective._id)['text'] }}</div>-->
                                    <div>Anzahl Aufträge:{{ this.users.getUserEduO(4, this.eduobjective.eduobjective._id)['ass_count'] }}</div>
                                    <div>Anzahl Aufgaben:{{ this.users.getUserEduO(4, this.eduobjective.eduobjective._id)['cha_count'] }}</div>
                                    <div>davon richtig:{{ this.users.getUserEduO(4, this.eduobjective.eduobjective._id)['cha_ok'] }}</div>
                                    <div>in Prozent:{{ this.users.getUserEduO(4, this.eduobjective.eduobjective._id)['percent'] }}</div>
                                    </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><p>Total</p></th>
                                    <td><p>
                                        <i style="color:red" class="fas fa-times-circle"></i>
                                        &nbsp;
                                        nicht ausreichend
                                        &nbsp;
                                        {{ this.users.getUserEduO(0, this.eduobjective.eduobjective._id)['text'] }}
                                    </p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="this.appConfig.togEduoShowAchievement" class="card">
                    <div class="card-header">
                        <h5>Selbsteinschätzung
                        <span class="col text-right"><i class="fas fa-pencil-alt" (click)="this.selfassess()"></i></span>
                        </h5>
                    </div>
                    <div class="card-text">
                        <i style="color:red" class="fas fa-thumbs-down" *ngIf="this.users.getUserEduOSelfassessment(this.eduobjective.eduobjective._id)=='Noch garnicht'"></i>
                        <i style="color:red" class="fas fa-frown" *ngIf="this.users.getUserEduOSelfassessment(this.eduobjective.eduobjective._id)=='Zu wenig'"></i>
                        <i style="color:black" class="fas fa-meh" *ngIf="this.users.getUserEduOSelfassessment(this.eduobjective.eduobjective._id)=='Neutral'"></i>
                        <i style="color:orange" class="fas fa-smile" *ngIf="this.users.getUserEduOSelfassessment(this.eduobjective.eduobjective._id)=='Gut'"></i>
                        <i style="color:green" class="fas fa-thumbs-up" *ngIf="this.users.getUserEduOSelfassessment(this.eduobjective.eduobjective._id)=='Sehr gut'"></i>
                        &nbsp;
                        So schätze ich mich selbst ein: <span style="font-weight:bold">{{ this.users.getUserEduOSelfassessment(this.eduobjective.eduobjective._id) }}</span>
                    </div>
                    <div class="card-text" *ngIf="this.editselfassess">
                        <form #regForm="ngForm">
                          <fieldset class="form-group">
                              <div class="col-sm-10">
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="Noch garnicht" checked [(ngModel)]="this.selfassessvalue">
                                  <label class="form-check-label" for="gridRadios1"><i class="fas fa-thumbs-down" style="color:red"></i>&nbsp;Noch garnicht</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="Zu wenig" [(ngModel)]="this.selfassessvalue">
                                  <label class="form-check-label" for="gridRadios2"><i class="fas fa-frown" style="color:red"></i>&nbsp;Zu wenig</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="Neutral" [(ngModel)]="this.selfassessvalue">
                                  <label class="form-check-label" for="gridRadios2"><i class="fas fa-meh" style="color:black"></i>&nbsp;Neutral</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="Gut" [(ngModel)]="this.selfassessvalue">
                                  <label class="form-check-label" for="gridRadios3"><i class="fas fa-smile" style="color:orange"></i>&nbsp;Gut</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="Sehr gut" [(ngModel)]="this.selfassessvalue">
                                  <label class="form-check-label" for="gridRadios3"><i class="fas fa-thumbs-up" style="color:green"></i>&nbsp;Sehr gut</label>
                                </div>
                              </div>
                          </fieldset>
                        </form>
                   </div>
                </div>                
                <div class="card">
                    <div class="card-header"><h5>Unterstützt Kompetenzen</h5></div>
                    <div class="card-text">
                        <table class="table table-hover">
                            <tbody>
                                <tr *ngFor="let eduo of this.eduobjective.eduobjective.skillref" routerLink="/skill/{{ eduo._id }}">
            <!--     [ngClass]="{'table-primary' : i===this.users.selected_user_index}" (click)="selectUser(i)"> -->
                                    <td>{{ eduo.name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header"><h5>Verifiziert durch Aufträgen</h5></div>
                    <div class="card-text">
                        <table class="table table-hover">
                            <tbody>
                                <tr *ngFor="let eduo of this.eduobjective.eduobjective.assignmentref" routerLink="/assignment/{{ eduo._id }}">
                                    <td>{{ eduo.name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header"><h5>Lernmittel</h5></div>
                    <div class="card-text">
                        <table class="table table-hover">
                            <tbody>
                                <tr *ngFor="let eduo of this.eduobjective.eduobjective.contentref">
                                    <!--  routerLink="/content/{{ eduo.id }}" -->
                                    <td (click)="this.getContentDetails(eduo.id)">
                                        
                                    <h5 *ngIf="this.showContentDetails&&(this.contentid==eduo.id)"><span *ngIf="eduo.priority" class="badge badge-primary badge-pill">{{ eduo.priority }}</span>&nbsp;{{ eduo.name }}</h5>
                                    <p><span *ngIf="eduo.priority" class="badge badge-primary badge-pill">{{ eduo.priority }}</span>&nbsp;{{ eduo.name }}</p>
                                    
<!--                                    <a href="{{ eduo.url }}" target="_blank">{{ eduo.name }}</a> -->
                                    <!-- Only show details if content entry is selected -->
                                    <div *ngIf="this.showContentDetails&&(this.contentid==eduo.id)">
                                        <div *ngIf="this.content.content">
                                        <table>
                                            <tr><td *ngIf="this.content.content.picture" style="width: 40%"><img class="card-img-top" [src]="this.content.content.picture" alt="Content Cover" style=""></td><td><p>{{ this.content.content.description }}</p></td></tr>
                                        </table>
                                        <table>
                                            <tr>
                                                <td>
                                                    <img *ngIf="this.content.content.lang=='en'" src="https://img.freeflagicons.com/thumb/round_icon/united_states_of_america/united_states_of_america_64.png" alt="Language: English">
                                                    <img *ngIf="this.content.content.lang=='de'" src="https://img.freeflagicons.com/thumb/round_icon/germany/germany_64.png" alt="Sprache: Deutsch">
                                                </td>
                                                <td>
                                                    <div>
                                                        <span *ngIf="this.content.content.type==1"><i class="fas fa-video"></i>&nbsp;Video</span>
                                                        <span *ngIf="this.content.content.type==2"><i class="far fa-newspaper"></i>&nbsp;Artikel</span>
                                                        <span *ngIf="this.content.content.type==3"><i class="fas fa-book-open"></i>&nbsp;Buch</span>
                                                        <span *ngIf="this.content.content.type==4"><i class="far fa-map"></i>&nbsp;Tutorial</span>
                                                        <span *ngIf="this.content.content.type==5"><i class="fas fa-file-audio"></i>&nbsp;Hörbuch</span>
                                                        <span *ngIf="this.content.content.type==6"><i class="fas fa-calendar-alt"></i>&nbsp;Event</span>
                                                        <span *ngIf="this.content.content.type==7"><i class="fas fa-graduation-cap"></i>&nbsp;Kurs</span>
                                                        <span *ngIf="this.content.content.type==8"><i class="fas fa-file-pdf"></i>&nbsp;PDF-Präsentation</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <p>Verortung: {{ eduo.locator }}</p>
                                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                            <a [href]="this.content.content.url" target="_blank" class="btn btn-primary" (click)="this.contents.visitContent()"><i class="fas fa-play-circle"></i>&nbsp;Lernmittel nutzen</a>
                                            <button *ngIf="this.appConfig.togShareContent" type="button" class="btn btn-secondary"><i class="fas fa-share-alt-square"></i>&nbsp;Teilen</button>
                                            <button *ngIf="this.appConfig.togRateContent" type="button" class="btn btn-secondary"><i class="fas fa-comment"></i>&nbsp;Bewerten</button>
                                            <button *ngIf="this.appConfig.togPlaylist" type="button" class="btn btn-secondary"><i class="fas fa-list-alt"></i>&nbsp;Auf meine Playlist</button>
                                        </div>
                                        </div>
                                    </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
        </div>
<!--
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-text">
                        <table class="table table-striped">
                          <tbody>
                            <tr>
                              <th scope="row">Aufgaben #</th>
                              <td *ngIf="this.eduobjective.eduobjective.challengeRef" >{{ this.eduobjective.eduobjective.challengeRef.length  }}</td>
                            </tr>
                            <tr>
                              <th scope="row">Erstellt</th>
                              <td>{{ this.eduobjective.eduobjective.create_date  | date : 'dd.MM.yyyy - H:mm' : '+0200' }}</td>
                            </tr>
                            <tr>
                              <th scope="row">Lernfeld</th>
                              <td>{{ this.eduobjective.eduobjective.field  }}</td>
                            </tr>
                            <tr>
                              <th scope="row">Modul</th>
                              <td>{{ this.eduobjective.eduobjective.modul  }}</td>
                            </tr>
                              <th scope="row">Taxonomy</th>
                              <td>{{ this.eduobjective.eduobjective.taxonomie  }}</td>
                            <tr>
                              <th scope="row">Typ</th>
                              <td>{{ this.eduobjective.eduobjective.type  }}</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
-->
    </div>
</div>

