<div class="container">
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">
      <div class="list-group">
        <div class="list-group-item list-group-item-primary">
          Kompetenzfelder
        </div>
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-sm-2">
              <span><i class="fas fa-dice-d20 fa-3x"></i></span>
            </div>
            <div class="col-sm-10 text-center">
              <strong class="">Change Management</strong>
            </div>
          </div>    
          <div class="row">
            <p class="card-text">Veränderung planen, gestallten und andere dabei unterstützen.</p>
          </div>
        </button>
        <button type="button" class="list-group-item list-group-item-action active">
          <div class="row">
            <div class="col-sm-2">
              <span><i class="fas fa-coins fa-3x"></i></span>
            </div>
            <div class="col-sm-10 text-center">
              <strong class="">Arcondis Sales Excellence</strong>
            </div>
          </div>    
          <div class="row">
            <p class="card-text">Die Kompetenz mit den Angeboten der Arcondis die Probleme der Kunden zu lösen.</p>
          </div>
        </button>

        <button type="button" class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-sm-2">
              <span><i class="fas fa-american-sign-language-interpreting fa-3x"></i></span>
            </div>
            <div class="col-sm-10 text-center">
              <strong class="">Kommunikation</strong>
            </div>
          </div>    
          <div class="row">
            <p class="card-text">Gekonnt Kommunizieren, Kommunikation verstehen.</p>
          </div>
          
          
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-sm-2">
              <span><i class="fas fa-certificate fa-3x"></i></span>
            </div>
            <div class="col-sm-10 text-center">
              <strong class="">ITIL V4</strong>
            </div>
          </div>    
          <div class="row">
            <p class="card-text">Die Grundlagen des aktuellen ITIL Version 4 darlegen und auf die Zertifizierungsprüfung vorbereitet sein.</p>
          </div>
          
          
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-sm-2">
              <span><i class="fas fa-exchange-alt fa-3x"></i></span>
            </div>
            <div class="col-sm-10 text-center">
              <strong class="">Digital-Kompetenz CH</strong>
            </div>
          </div>    
          <div class="row">
            <p class="card-text">Die Kompetenz zum Thema Digitale Transformation, die ein Manager in der Schweiz mindestens haben sollte.</p>
          </div>
          
          
        </button>
      </div>
      

  
    </div>
    <div class="col">

      <ul class="list-group">
        <li class="list-group-item list-group-item-primary">Kompetenzen</li>
        <li class="list-group-item active" routerLink="/skill/5cc491863af9f00acc95c435">Kundentermin vor- und nachbereiten</li>
        <li class="list-group-item">...</li>
        <li class="list-group-item">...</li>
        <li class="list-group-item">...</li>
      </ul>

    </div>
    <div class="col">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-primary">
          Lernziele
        </button>
        <button type="button" class="list-group-item list-group-item-action" routerLink="/eduobjective/5d024a8be7179a4e4323fe02">Ich mache für meine Termine tiefgehende Vorbereitungen.</button>
        <button type="button" class="list-group-item list-group-item-action active" routerLink="/eduobjective/5d0de040e7179a4e43282dc4">Ich mache für meine Termine vollständige Nachbreitungen.</button>
        <button type="button" class="list-group-item list-group-item-action">...</button>
        <button type="button" class="list-group-item list-group-item-action">...</button>
      </div>

    </div>
</div>