<div class="container">
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>


  <div *ngIf="this.addskillflag" class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5>Kompetenz neu anlegen
          &nbsp;
          <i class="fas fa-save" (click)="this.savenewskill('save')"></i>
          &nbsp;
          <i class="fas fa-window-close" (click)="this.savenewskill('cancle')"></i>
          </h5>
        </div>
        
        <div class="card-text">
<!--          <form> -->
            <div class="form-group">
              <label for="skillName">Kompetenzname</label>
              <input type="text" class="form-control" id="skillName" aria-describedby="emailHelp" [(ngModel)]="this.skills.skill.name" required #tempSkill="ngModel">
              <small id="emailHelp" class="form-text text-muted">Bitte wählen Sie einen sprechenden Namen für die neue Kompetenz.</small>
            </div>
            <div class="form-group">
              <label for="skillDescription">Beschreibung</label>
              <input type="text" class="form-control" id="skillDescription" [(ngModel)]="this.skills.skill.description">
            </div>
            <div class="form-group">
              <label for="skillField">Feld</label>
              <input type="text" class="form-control" id="skillField" [(ngModel)]="this.skills.skill.field">
            </div>
            <div class="form-group">
              <label for="skillModul">Modul</label>
              <input type="text" class="form-control" id="skillModul" [(ngModel)]="this.skills.skill.modul">
            </div>
            <div class="form-group">
              <label for="skillEduO">Lernziele</label>
              <input type="text" class="form-control" id="skillEduO" placeholder="">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="skillStatus">
              <label class="form-check-label" for="skillStatus">Aktiv</label>
            </div>
<!--          </form> -->   
        </div>
        <div class="card-text">
          <p>Name value: {{ tempSkill.value }} </p>
          <p>Name valid: {{ tempSkill.valid }} </p>         
        </div>

      </div>      
      
    </div>
  </div>
  <div *ngIf="this.addskillflag" class="row">
    <div class="col">&nbsp;</div>
  </div>
  
  
  <div class="row">
    <div class="col">
      <div *ngIf="this.skillsets" class="list-group">
        <div class="list-group-item list-group-item-primary">
          Kompetenzfelder
        </div>
        <button *ngFor="let skillset of this.skillsets.skillsetlist; index as i" type="button" class="list-group-item list-group-item-action" [ngClass]="{'active':i===this.skillsetindex}" (click)="this.setactiveskillset(i)">
          <div class="row">
            <div class="col-sm-2">
              <span *ngIf="skillset.field=='Sales'"><i style="color:gray" class="fas fa-dice-d20 fa-3x"></i></span>
              <span *ngIf="skillset.field=='OCM'"><i style="color:gray" class="fas fa-coins fa-3x"></i></span>
              <span *ngIf="skillset.field=='Communications'"><i style="color:gray" class="fas fa-american-sign-language-interpreting fa-3x"></i></span>
              <span *ngIf="skillset.field=='Digital Transformation'"><i style="color:gray" class="fas fa-certificate fa-3x"></i></span>
              <span *ngIf="skillset.field=='Service Management'"><i style="color:gray" class="fas fa-exchange-alt fa-3x"></i></span>
              <span *ngIf="skillset.field=='Innovation'"><i style="color:gray" class="fas fa-asterisk fa-3x"></i></span>
            </div>
            <div class="col-sm-10 text-center">
              <strong class="">{{ skillset.name }}</strong>
            </div>
          </div>    
          <div class="row">
            <p class="card-text">{{ skillset.description }}</p>
          </div>
          <div class="row">
            <p class="card-text">{{ skillset.field }}</p>
          </div>
        </button>
      </div>
    </div>
    <div class="col">
      <div *ngIf="this.skillsets.skillsetlist" class="list-group">
        <div style="font-weight:bold" class="list-group-item list-group-item-primary">
          Kompetenzen
          <span *ngIf="this.skillsets.skillsetlist[this.skillsetindex].skillref.length>0" class="col text-right">
            <i class="fas fa-pencil-alt"></i><!-- (click)="" -->
            &nbsp;
            <i class="fas fa-plus-square" (click)="this.addskill()"></i>
            &nbsp;
            <i class="fas fa-external-link-alt justify-content-end" routerLink="/skill/{{ this.skillsets.skillsetlist[this.skillsetindex].skillref[this.skillindex].id }}"></i>
          </span>
        </div>
        <button *ngFor="let skill of this.skillsets.skillsetlist[this.skillsetindex].skillref; index as i" type="button" class="list-group-item list-group-item-action" [ngClass]="{'active':i===this.skillindex}" (click)="this.setactiveskill(i)">
          {{ skill.name }}
        </button>
      </div>
    </div>
    <div class="col">
      <div *ngIf="this.skills.skill" class="list-group">
        <button type="button" class="list-group-item list-group-item-primary">
          Lernziele
          &nbsp;
          <i *ngIf="this.skills.skill.eduobjectiveref.length>0" class="fas fa-external-link-alt justify-content-end" routerLink="/eduobjective/{{ this.skills.skill.eduobjectiveref[this.eduoindex]._id }}"></i>
        </button>
        <button type="button" *ngFor="let eduo of this.skills.skill.eduobjectiveref; index as i" type="button" class="list-group-item list-group-item-action" [ngClass]="{'active':i===this.eduoindex}" (click)="this.setactiveeduo(i)">
          {{ eduo.name }}
        </button>
      </div>
    </div>
</div>