<div class="loading">
  <img src="assets/loading.svg" alt="loading">
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">

<div class="card text-center" style="width: 18rem;">
  <i class="fas fa-dice-d20 fa-7x"></i>
  <div class="card-body">
    <h5 class="card-title">Change Management</h5>
    <p class="card-text">Veränderung planen, gestallten und andere dabei unterstützen.</p>
    <a href="#" class="btn btn-outline-primary">Kompetenzen</a>
  </div>
</div>        
        
    </div>
    <div class="col-sm">

<div class="card text-center" style="width: 18rem;">
<!--  <img src="assets/library.png" class="card-img-top" alt="..."> -->
  <i class="fas fa-american-sign-language-interpreting fa-7x"></i>
  <div class="card-body">
    <h5 class="card-title">Kommunikation</h5>
    <p class="card-text">Gekonnt Kommunizieren, Kommunikation verstehen.</p>
    <a href="#" routerLink="/competence" class="btn btn-outline-primary">Kompetenzen</a>
  </div>
</div>        

    </div>
    <div class="col-sm">

<div class="card text-center" style="width: 18rem;">
<!--  <img src="assets/library.png" class="card-img-top" alt="..."> -->
  <i class="fas fa-certificate fa-7x"></i>
  <div class="card-body">
    <h5 class="card-title">ITIL V4</h5>
    <p class="card-text">Die Grundlagen des aktuellen ITIL Version 4 darlegen und auf die Zertifizierungsprüfung vorbereitet sein.</p>
    <a href="#" class="btn btn-outline-primary">Kompetenzen</a>
  </div>
</div>        

    </div>
    <div class="col-sm">

<div class="card text-center" style="width: 18rem;">
<!--  <img src="assets/library.png" class="card-img-top" alt="..."> -->
  <i class="fas fa-certificate fa-7x"></i>
  <div class="card-body">
    <h5 class="card-title">ITIL V4</h5>
    <p class="card-text">Die Grundlagen des aktuellen ITIL Version 4 darlegen und auf die Zertifizierungsprüfung vorbereitet sein.</p>
    <a href="#" class="btn btn-outline-primary">Kompetenzen</a>
  </div>
</div>        

    </div>
    <div class="col-sm">

<div class="card text-center" style="width: 18rem;">
<!--  <img src="assets/library.png" class="card-img-top" alt="..."> -->
  <i class="fas fa-exchange-alt fa-7x"></i>
  <div class="card-body">
    <h5 class="card-title">Digital-Kompetenz CH</h5>
    <p class="card-text">Die Kompetenz zum Thema Digitale Transformation, die ein Manager in der Schweiz mindestens haben sollte.</p>
    <a href="#" class="btn btn-outline-primary">Kompetenzen</a>
  </div>
</div>        

  </div>
</div>